@import url('https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,300;16..144,400&family=Montserrat:wght@300;400&family=Open+Sans:wght@300;400&family=Oswald:wght@700&display=swap');* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
}
body {
  background: #f7f4f4;
  padding: 0;
}
.wrapper {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 1px -1px 20px 0px rgb(37 207 137 / 22%);
}
.wrapper .title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
  color: rgb(16, 5, 175);
  text-transform: uppercase;
  text-align: center;
}
.wrapper .form {
  width: 100%;
}
.wrapper .form .input_field {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.wrapper .form .input_field label {
  width: 200px;
  color: rgb(16, 5, 175);
  margin-right: 10px;
  font-size: 14px;
}
.wrapper .form .input_field .input,
.wrapper .form .input_field .textarea  {
  width: 100%;
  outline: none;
  border: 1px solid #31a2c5;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.wrapper .form .input_field select {
  position: relative;
  width: 100%;
  height: 100%;
  appearance: none;
  border: 1px solid #31a2c5;
  border-radius: 3px;
  padding: 8px 10px;
  outline: none;
}
.wrapper .form .input_field .textarea {
  resize: none;
  height: 100px;
}

.wrapper .form .input_field select:focus,
.wrapper .form .input_field .input:focus {
  border: 1px solid #0feca6;
}
.wrapper .form .input_field p {
  font-size: 14px;
  color: #757575;
}
.wrapper .form .input_field .check {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper .form .input_field .button {
  width: 100%;
  padding: 8px 10px;
  font-size: 15px;
  border: 0;
  background: #31a2c5;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .input_field:last-child {
  margin-bottom: 0;
}
.wrapper .form .input_field .button:hover {
  background: #ffd658;
}
@media (max-width: 420px) {
  .wrapper .form .input_field {
    flex-direction: column;
    align-items: flex-start;
  }
}
